/* box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* variables */
:root {
    --color-background: white;
    --color-text: black;
    --color-text-inverse: var(--color-background);
    --color-background-inverse: var(--color-text);
    --color-link-header: black;
    --color-link: var(--color-text);
    --color-link-hover: black;
    --color-tag: gold;
    --size-font: 18px;
    --size-font-large: 18px;
    --size-font-0: 2.1rem;
    --size-font-1: 1.9rem;
    --size-font-2: 1.6rem;
    --size-font-3: 1.4rem;
    --size-font-4: 1.2rem;
    --size-font-5: 0.8rem;
    --size: 2rem;
    --size-container: 55rem;
    --size-container-text: 40rem;
    --img-max-height: 80vh;
}

/* animations */
@keyframes Animation1 {
    0% {
    }
    100%{
    }
}

/* resets */
body {
    margin: 0;
}
h1, h2, h3, p {
    margin-top: 0;
}
h1, h2, h3 {
    line-height: 1.3;
}
h2 {
    /* color: var(--color-tag) */
}

/* layout global defaults */
html,
body {
    min-height: 100vh;
}

html {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: var(--size-font);
    color: var(--color-text);
}

img {
    display: block;
    max-width: 100%;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

address p {
    margin-bottom: 0;
}
address {
    margin-bottom: var(--size);
    max-width: calc(var(--size--container) / 5);
    width: 100%;
}

/* images loaded */
/* .Site:not(.is-imagesLoaded) img { */
/*     opacity: 0; */
/* } */

/* typography */
a {
    color: var(--color-link);
}
a:hover {
}

/* site */
.Site {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Site-title {
    text-align: center;
    margin-bottom: 0;
}
.Site-title a {
    text-decoration: none;
    padding: calc(var(--size) / 3);
}

.Site-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* horizontal rythm */
.Container {
    max-width: calc(var(--size-container) * 1.3);
    padding: var(--size);
}

/* navigations */
.Nav--main {
    display: flex;
    justify-content: center;
}
nav-item a {
    text-decoration: none;
    padding: calc(var(--size) / 3);
}
/* home page */
.Home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* cards */
.Card-title {
    margin-bottom: 0;
    font-size: var(--size-font-2);
}
.Card a {
    text-decoration: none;
}
/* cards products */
.Cards--products {
    display: flex;
}
.Cards--products .Card {
    max-width: 50vw;
    padding: var(--size);
}
/* cards stories */
.Cards--stories {
    display: flex;
    flex-direction: column;
}
.Cards--stories .Card-link {
    display: flex;
    align-items: center;
}
.Cards--stories .Card-image {
    max-width: calc(var(--size-container) / 5);
    padding: calc(var(--size) / 3);
}
/* article */
.Article {
    max-width: var(--size-container);
    padding: calc(var(--size) / 2);
}
.Article-meta p {
    margin-bottom: 0;
    font-style: italic;
}
.Article-header {
    display: flex;
    align-items: center;
}

.Article-featuredImage {
    padding: calc(var(--size) / 2);
    max-width: 30vw;
}

.Article-content {
    padding-top: var(--size);
    font-size: var(--size-font-4);
}

/* story article */
.Story {
    width: 100%;
    flex-grow: 1;
}
.Story-featuredImage {
    min-height: 60vh;
}
.Story-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size);
}

.Story-title a {
    text-decoration: none;
}

/* pages */
.Page {
    /* flex-grow: 1; */
}
.Page--about {
    
}
