<article class="Card">
    <a href="{{ .URL }}" class="Card-link">
	<div class="Card-content">
	    <div class="Card-info">
		<h3 class="Card-title">
		    {{ .Title }}
		</h3>
	    </div>
	    <div class="Card-summary">
		{{ .Summary }}
	    </div>
	</div>
	{{if .Params.image}}
	<div class="Card-media">
	    <img src="{{.Params.image | relURL }}" alt="{{.Title}}" class="Card-image" loading="lazy">
	</div>
	{{end}}
    </a>
</article>
