{{ define "main" }}

<section class="Section Container">
    <main class="Cards Cards--list">
	{{ range (sort .Pages ".Params.date_published" "desc") }}
	{{ partial "article-card" . }}
	{{ end }}
    </main>
</section>
{{ end }}
