{{ define "main" }}
<article class="Story">
    <header class="Story-header {{if .Params.image}}Story-featuredImage{{end}}" style='background-image: url("{{.Params.image | relURL | safeCSS }}");'>
    </header>
    
    <main class="Story-main">
	<h1 class="Story-title">
	    <a href="{{ .Permalink }}">
		{{ .Title }}
	    </a>
	</h1>
	<footer class="Story-meta">
	    {{with .Params.date_published }}
	    <aside class="Story-datePublished">{{.}}</aside>
	    {{end}}
	    <!-- {{with .Params.language }}
		 <aside class="Story-language">{{.}}</aside>
		 {{end}} -->
	</footer>
	<div class="Story-content">
	    {{ .Content }}
	</div>
    </main>

    {{ with .Params.links }}
    <footer class="Story-footer">
	<!-- <h2 class="Story-footerTitle">Interesting links</h2> -->
	<ol class="Story-links">
	    {{ range . }}
	    <li class="Story-link">{{.link | markdownify }}</li>
	    {{ end }}
	</ol>
    </footer>
    {{ end }}
    
</article>
{{ end }}
