{{ define "main" }}
<article class="Article">
    <header class="Article-header">
	<h1 class="Article-title">
	    <a href="{{ .Permalink }}">
		{{ .Title }}
	    </a>
	</h1>

	{{if .Params.image}}
	<div class="Article-featuredImage">
	    <img src="{{.Params.image | relURL }}" alt="{{.Title}}" class="Card-image" loading="lazy">
	</div>
	{{end}}
    </header>

    <aside class="Article-meta">
	{{ with .Params.bottle_size }}
	<p>
	    <strong>Bouteille:</strong> {{ . }}
	</p>
	{{ end }}
	{{ with .Params.alcohol }}
	<p>
	    <strong>Alcohol:</strong> {{ . }}
	</p>
	{{ end }}
	{{ with .Params.ingredients }}
	<p>
	    <strong>Ingrédients:</strong> {{ . }}
	</p>
	{{ end }}
    </aside>
    
    <main class="Article-main">
	<div class="Article-content">
	    {{ .Content }}
	</div>
    </main>    
</article>
{{ end }}
