{{ define "main" }}
<div class="Page Page--about">
    <section>
	{{ .Content }}
    </section>

    <section>
	<address>
	    <p>
		<strong>
		    {{ $.Site.Data.contact.address_name }}
		</strong>
	    </p>
	    <p>
		{{ $.Site.Data.contact.address_street_number }}
		{{ $.Site.Data.contact.address_street_name }}
	    </p>
	    <p>
		{{ $.Site.Data.contact.address_postal_code }}
		{{ $.Site.Data.contact.address_city }}
	    </p>
	    <p>
		{{ $.Site.Data.contact.address_country }}
	    </p>
	</address>
	<address>
	    <p>
		<a href="tel:{{ $.Site.Data.contact.address_phone }}">
		    {{ $.Site.Data.contact.address_phone }}
		</a>
	    </p>
	    <p>
		<a href="mailto:{{ $.Site.Data.contact.address_email }}">
		    {{ $.Site.Data.contact.address_email }}
		</a>
	    </p>
	</address>
    </section>
</div>
{{ end }}
