<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="Site">
        {{- partial "header.html" . -}}

	<main class="Site-main">
            {{- block "main" . }}{{- end }}
        </main>
	
        {{- partial "footer.html" . -}}
    </body>
</html>
