{{ define "main" }}

{{ $stories := (where .Site.RegularPages "Section" "stories") }}
{{ $lastStories :=  (sort $stories ".Params.date_published" "desc") }}

{{ $products := (where .Site.RegularPages "Section" "products") }}
{{ $lastProducts :=  (sort $products ".Params.date_published" "desc") }}

<article class="Home">
    <main class="Home-main">
	{{ with .Content }}
	<section>
	    {{ . }}
	</section>
	{{ end }}

	<section class="Section Container">
	    <main class="Cards Cards--home Cards--products">
		{{ range (first 10 $lastProducts) }}
		{{ partial "article-card" . }}
		{{ end }}
	    </main>
	</section>

	<section class="Section Container">
	    <main class="Cards Cards--home Cards--stories">
		{{ range (first 10 $lastStories) }}
		<article class="Card">
		    <a href="{{ .URL }}" class="Card-link">
			<div class="Card-content">
			    <h3 class="Card-title">
				<span class="Card-title-span">{{ .Title }}</span>
			    </h3>
			</div>
			{{if .Params.image}}
			<div class="Card-media">
			    <img src="{{.Params.image | relURL }}" alt="{{.Title}}" class="Card-image" loading="lazy">
			</div>
			{{end}}
		    </a>
		</article>
		{{ end }}
	    </main>
	</section>
    </main>    
</article>
{{ end }}
